---
/**
 * @file apps/web/src/layouts/BaseDocument.astro
 * @author Guy Romelle Magayano
 * @description Shared document shell for metadata, analytics, and theme setup.
 */

import BodyIntegrations from "@web/layouts/document/BodyIntegrations.astro";
import HeadBasics from "@web/layouts/document/HeadBasics.astro";
import HeadIntegrations from "@web/layouts/document/HeadIntegrations.astro";
import HeadSocialMeta from "@web/layouts/document/HeadSocialMeta.astro";
import HeadStructuredData from "@web/layouts/document/HeadStructuredData.astro";
import { resolveDocumentIntegrations } from "@web/lib/document-integrations";
import { resolveDocumentMetadata } from "@web/lib/document-metadata";
import { type WebPageMetadata } from "@web/lib/metadata.types";
import {
  buildThemeBootstrapScript,
  LIGHT_THEME_COLOR,
} from "@web/lib/theme-bootstrap";

import "@web/styles/tailwind.css";

type Props = {
  metadata?: WebPageMetadata;
};

const { metadata } = Astro.props;
const documentMetadata = resolveDocumentMetadata(metadata);
const documentIntegrations = resolveDocumentIntegrations();
const themeBootstrapScript = buildThemeBootstrapScript();
---

<!doctype html>
<html lang="en" class="h-full antialiased">
  <head>
    <HeadBasics
      bingSiteVerification={documentIntegrations.bingSiteVerification}
      canonicalUrl={documentMetadata.canonicalUrl}
      description={documentMetadata.description}
      lightThemeColor={LIGHT_THEME_COLOR}
      robotsContent={documentMetadata.robotsContent}
      siteName={documentMetadata.siteName}
      themeBootstrapScript={themeBootstrapScript}
      title={documentMetadata.title}
    />
    <HeadIntegrations
      googleAnalyticsBootstrapScript={documentIntegrations.googleAnalyticsBootstrapScript}
      googleAnalyticsMeasurementId={documentIntegrations.googleAnalyticsMeasurementId}
      googleAnalyticsScriptUrl={documentIntegrations.googleAnalyticsScriptUrl}
      googleTagManagerBootstrapScript={documentIntegrations.googleTagManagerBootstrapScript}
      shouldRenderVercelObservability={documentIntegrations.shouldRenderVercelObservability}
    />
    <HeadSocialMeta
      openGraph={documentMetadata.openGraph}
      twitter={documentMetadata.twitter}
    />
    <HeadStructuredData
      structuredDataItems={documentMetadata.structuredDataItems}
    />
  </head>
  <body
    class="flex h-full flex-col bg-zinc-50 text-zinc-950 dark:bg-black dark:text-zinc-100"
  >
    <BodyIntegrations
      googleTagManagerNoScriptUrl={documentIntegrations.googleTagManagerNoScriptUrl}
    />
    <slot />
  </body>
</html>
